:root {
	/* TYPOGRAPHY */
	--font-size-xxs: 1rem;
	--font-size-xs: 1.28571rem;
	--font-size-s: 1.57143rem;
	--font-size-md: 1.92857rem;
	--font-size-lg: 2.42857rem;
	--font-size-xl: 3.07143rem;
	--font-size-xxl: 3.78571rem;

	--line-height-xxs: 1rem;
	--line-height-xs: 1.28571rem;
	--line-height-s: 1.57143rem;
	--line-height-md: 1.92857rem;
	--line-height-lg: 2.42857rem;
	--line-height-xl: 3.07143rem;
	--line-height-xxl: 3.78571rem;
}
