<div style="display: flex; gap: 4px">
	<div class="button button-primary button-lg">Button</div>
	<div class="button button-primary button-md">Button</div>
	<div class="button button-primary button-sm">Button</div>

	<div class="button button-secondary button-lg">Button</div>
	<div class="button button-secondary button-md">Button</div>
	<div class="button button-secondary button-sm">Button</div>

	<div class="button button-tertiary button-lg">Button</div>
	<div class="button button-tertiary button-md">Button</div>
	<div class="button button-tertiary button-sm">Button</div>

	<div class="button button-ghost button-lg">Button</div>
	<div class="button button-ghost button-md">Button</div>
	<div class="button button-ghost button-sm">Button</div>
</div>
