<div style="display: flex; gap: 4px; align-items: center">
	<div class="button-primary-lg">Button</div>
	<div class="button-primary-md">Button</div>
	<div class="button-primary-sm">Button</div>

	<div class="button-secondary-lg">Button</div>
	<div class="button-secondary-md">Button</div>
	<div class="button-secondary-sm">Button</div>

	<div class="button-tertiary-lg">Button</div>
	<div class="button-tertiary-md">Button</div>
	<div class="button-tertiary-sm">Button</div>

	<div class="button-ghost-lg">Button</div>
	<div class="button-ghost-md">Button</div>
	<div class="button-ghost-sm">Button</div>
</div>
