*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* PRIMITIVE */
  --primary-40: #088759;
  --secondary-40: #218360;
  --tertiary-40: #3e7461;
  --gray-100: #ffffff;
  --gray-94: #f0f0f0;
  --gray-90: #e5e5e5;
  --gray-80: #cccccc;
  --gray-40: #666666;
  --gray-30: #4d4d4d;
  --gray-20: #333333;
  --gray-10: #1a1a1a;
  --secondary-94: #e3fcf3;
  --tertiary-94: #eaf6f1;
  --primary-94: #e0fff4;
  --orange-50: #9d6107;
  --orange-94: #fcf2e3;
  --blue-50: #1960dc;
  --blue-94: #e4ecfc;
  --red-40: #d3080c;
  --red-94: #fce3e4;
  --green-30: #268000;
  --green-94: #ebfce3;
  --purple-50: #8000ff;
  --purple-94: #f0e3fc;
  --red-dark-70: #ff5c5f;
  --green-dark-40: #7ce052;
  --green-dark-20: #265b10;
  --red-dark-20: #5c0a0c;
  --purple-dark-80: #c48aff;
  --purple-dark-15: #3a0061;
  --orange-dark-70: #ffc266;
  --orange-dark-20: #623c04;
  --blue-dark-70: #99beff;
  --blue-dark-15: #0c306e;
  --gray-0: #000000;
  --gray-transparent-black-5: rgba(0 0 0 / 0.05);
  --gray-transparent-black-15: rgba(0 0 0 / 0.15);
  --gray-transparent-white-5: rgba(255 255 255 / 0.05);
  --gray-transparent-white-15: rgba(255 255 255 / 0.15);
  --tertiary-dark-70: #94d1bb;
  --primary-dark-40: #00e593;
  --primary-dark-15: #0b412e;
  --secondary-dark-60: #47ebb0;
  --gradient-light-stop-1: #088759;
  --gradient-light-stop-2: #00bd55;
  --gradient-dark-stop-1: #3ef4b3;
  --gradient-dark-stop-2: #33ff8f;
}

:root {
  --core-paragraph: var(--gray-40);
  --core-title: var(--gray-10);
  --core-background: var(--gray-100);
  --btn-primary-bg: var(--primary-40);
  --btn-primary-text: var(--gray-100);
  --btn-tertiary-bg: var(--tertiary-94);
  --btn-secondary-text: var(--secondary-40);
  --btn-secondary-bg: var(--gray-100);
  --btn-tertiary-text: var(--tertiary-40);
  --status-pending-text: var(--orange-50);
  --status-pending-bg: var(--orange-94);
  --status-error-text: var(--red-40);
  --status-error-bg: var(--red-94);
  --status-success-text: var(--green-30);
  --status-success-bg: var(--green-94);
  --status-cooling-text: var(--blue-50);
  --status-cooling-bg: var(--blue-94);
  --status-insight-text: var(--purple-50);
  --status-insight-bg: var(--purple-94);
  --card-shadow: var(--gray-transparent-black-5);
  --card-card: var(--gray-100);
  --card-border-1: var(--gray-90);
  --card-border-2: var(--gray-90);
  --card-accordion-hover: var(--gray-94);
  --avatar-stop-1: var(--gradient-light-stop-1);
  --avatar-stop-2: var(--gradient-light-stop-2);
  --chart-heat: var(--red-40);
  --chart-cool: var(--blue-50);
  --chart-heat-2: var(--red-94);
  --chart-cool-2: var(--blue-94);
}

body.dark-mode {
  --core-paragraph: var(--gray-94);
  --core-title: var(--gray-100);
  --core-background: var(--gray-10);
  --btn-primary-bg: var(--primary-dark-40);
  --btn-primary-text: var(--primary-dark-15);
  --btn-tertiary-bg: var(--gray-transparent-white-15);
  --btn-secondary-text: var(--secondary-dark-60);
  --btn-secondary-bg: var(--gray-transparent-white-5);
  --btn-tertiary-text: var(--tertiary-dark-70);
  --status-pending-text: var(--orange-dark-20);
  --status-pending-bg: var(--orange-dark-70);
  --status-error-text: var(--red-dark-20);
  --status-error-bg: var(--red-dark-70);
  --status-success-text: var(--green-dark-20);
  --status-success-bg: var(--green-dark-40);
  --status-cooling-text: var(--blue-dark-15);
  --status-cooling-bg: var(--blue-dark-70);
  --status-insight-text: var(--purple-dark-15);
  --status-insight-bg: var(--purple-dark-80);
  --card-shadow: var(--gray-transparent-black-15);
  --card-card: var(--gray-20);
  --card-border-1: var(--gray-20);
  --card-border-2: var(--gray-30);
  --card-accordion-hover: var(--gray-transparent-white-15);
  --avatar-stop-1: var(--gradient-dark-stop-1);
  --avatar-stop-2: var(--gradient-dark-stop-2);
  --chart-heat: var(--red-dark-70);
  --chart-cool: var(--blue-dark-70);
  --chart-heat-2: var(--red-dark-20);
  --chart-cool-2: var(--blue-dark-15);
}

:root {
  /* TYPOGRAPHY */
  --font-size-xxs: 1rem;
  --font-size-xs: 1.28571rem;
  --font-size-s: 1.57143rem;
  --font-size-md: 1.92857rem;
  --font-size-lg: 2.42857rem;
  --font-size-xl: 3.07143rem;
  --font-size-xxl: 3.78571rem;
  --line-height-xxs: 1rem;
  --line-height-xs: 1.28571rem;
  --line-height-s: 1.57143rem;
  --line-height-md: 1.92857rem;
  --line-height-lg: 2.42857rem;
  --line-height-xl: 3.07143rem;
  --line-height-xxl: 3.78571rem;
}

body {
  background-color: var(--core-background);
}

.button-primary-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 4px 8px;
  background: var(--btn-primary-bg, #088759);
  color: var(--btn-primary-text, #fff);
}
.button-primary-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 16px;
  background: var(--btn-primary-bg, #088759);
  color: var(--btn-primary-text, #fff);
}
.button-primary-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px 24px;
  background: var(--btn-primary-bg, #088759);
  color: var(--btn-primary-text, #fff);
}
.button-secondary-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid var(--btn-secondary-text, #218360);
  background: var(--btn-secondary-bg, #fff);
  color: var(--btn-secondary-text, #218360);
}
.button-secondary-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid var(--btn-secondary-text, #218360);
  background: var(--btn-secondary-bg, #fff);
  color: var(--btn-secondary-text, #218360);
}
.button-secondary-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--btn-secondary-text, #218360);
  background: var(--btn-secondary-bg, #fff);
  color: var(--btn-secondary-text, #218360);
}
.button-tertiary-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 4px 8px;
  background: var(--btn-tertiary-bg, #eaf6f1);
  color: var(--btn-tertiary-text, #3e7461);
}
.button-tertiary-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 16px;
  background: var(--btn-tertiary-bg, #eaf6f1);
  color: var(--btn-tertiary-text, #3e7461);
}
.button-tertiary-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px 24px;
  background: var(--btn-tertiary-bg, #eaf6f1);
  color: var(--btn-tertiary-text, #3e7461);
}
.button-ghost-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 4px 8px;
  color: var(--btn-tertiary-text, #3e7461);
}
.button-ghost-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 16px;
  color: var(--btn-tertiary-text, #3e7461);
}
.button-ghost-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-xxs, 14px);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px 24px;
  color: var(--btn-tertiary-text, #3e7461);
}/*# sourceMappingURL=index.css.map */