@use '../core/' as *;

@mixin common-styles {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 4px;
	text-align: center;
	font-size: var(--font-size-xxs, 14px);
	font-weight: 500;
	line-height: 20px;
	cursor: pointer;
}

@mixin button-sm {
	padding: 4px 8px;
}

@mixin button-md {
	padding: 8px 16px;
}

@mixin button-lg {
	padding: 12px 24px;
}

@mixin primary {
	background: var(--btn-primary-bg, #088759);
	color: var(--btn-primary-text, #fff);
}

@mixin secondary {
	&-secondary {
		border: 1px solid var(--btn-secondary-text, #218360);
		background: var(--btn-secondary-bg, #fff);
		color: var(--btn-secondary-text, #218360);
	}
}

@mixin tertiary {
	&-tertiary {
		background: var(--btn-tertiary-bg, #eaf6f1);
		color: var(--btn-tertiary-text, #3e7461);
	}
}

@mixin ghost {
	&-ghost {
		color: var(--btn-tertiary-text, #3e7461);
	}
}

.button {
	&-primary {
		&-sm {
			@include common-styles();
			@include button-sm();
			@include primary();
		}
		&-md {
			@include common-styles();
			@include button-md();
			@include primary();
		}
		&-lg {
			@include common-styles();
			@include button-lg();
			@include primary();
		}
	}
}
